/* Custom CSS */


:root {
    --accent: url("https://64.media.tumblr.com/fc6ad8b15a7a305455d7197902ff38fa/tumblr_ncvq44Li2Y1s90wi8o1_640.gifv");
    /*--accent-bg: #48d1cc;*/
    --bg: url("https://64.media.tumblr.com/fc6ad8b15a7a305455d7197902ff38fa/tumblr_ncvq44Li2Y1s90wi8o1_640.gifv");
    --text: yellow;
    /*--text-light: white;*/
    --border: yellow;
    /*--code: #d81b60;*/
    /*--preformatted: #444;*/

}

.p {

    display: inline-flex;
    flex: 0 1 auto;
    color: yellowgreen;
    font-size: x-large;
}

article {
    min-height: 350px;
    min-width: 450px;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    align-items: end;
    /*background-image: url("https://www.gamersdecide.com/sites/default/files/authors/u151218/enemywithin_0.jpg");*/
    background-image: url("https://i.gifer.com/XXti.gif");
    background-position: center;
    background-repeat: no-repeat;


    border-radius: 5px;
    padding: 1em;
    margin: 1em;
}

h2 {
    text-align: center;
    color: red;

}

h2, h4 {
    padding: 0 10px 0 10px;

    text-decoration: none;
}

.hr {

    text-decoration: none;
    border-color: var(--accent);
}

.button, a[role="button"] {
    color: yellow;
    text-decoration: none;
    font-max-size: xx-large;
    width: 20%;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

input, select, textarea {
    padding-left: 10px;
    width: 350px;
    background-image: url("https://klike.net/uploads/posts/2022-05/1651736894_2.jpg");
    border-radius: 20px;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-size:contain;
    /*background-position:center;*/
}

body {
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("https://images3.alphacoders.com/103/1039850.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;



}

.header {

    max-height: 5cm;
    width: 100%;
    display: flex;
    flex-grow: initial;
    justify-content: space-between;
    background-color: black;
    border-radius: 30px;

}

.logo {
    height: 150%;
    width: 15%;
    background-image: url("https://i.gifer.com/X18r.gif");
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 8px;
    border-radius: 5px;
}

.nav ul a {
    display: flex;
    border: yellow;


    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    background-color: black;
    color: black;
}


.main {
    margin-left: 0.5%;
    display: flex;
    min-width: 20%;
    max-width: 69%;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;

}

.main2 {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;

}


.footer {
    padding: 0;
    display: flex;
    flex: 0 0 auto;

}

.details {
    display: flex;
    max-width: 350px;
    max-height: 450px;
    margin: 10px 0 10px 0;
    background: url("https://klike.net/uploads/posts/2020-01/1579335957_4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: yellow;
}

.div {
    display: inline-flex;


}
.profile {
    max-width: 60%;
    min-height: 80%;
    background-image: url("https://i.gifer.com/X18r.gif");
    background-repeat: no-repeat;
    background-size: 800px 500px;
}