{% load humanize %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href='{% static "/second_stile.css" %}'/>
<head>
    <title>Flashcards</title>
</head>

<body>

<header class="header">

    {% if user.pk %}
        <h5>BATS - {{ user }}</h5>
    {% elif not user.pk %}
{#        <img src="https://klike.net/uploads/posts/2019-03/1551426635_1.jpg"#}
{#             height=10% width=10% alt="#">#}
    {% endif %}
    <h4>
        <a href="{% url 'card list' %}">🗂 All Cards</a>
        {% for object in boxes_count %}
            <a href="{% url 'header boxes' object.number %}">
                🗃 {{ object.number | ordinal }} Box
                <mark>{{ object.card_count }}</mark>
            </a>
        {% endfor %}
    </h4>
    <nav>
        <ul class="nav">
            <li><a href="{% url "card create" %}">Create Card</a></li>

            <li><a href="{% url "logout" user.pk %}">Logout</a></li>
        </ul>
    </nav>

</header>

<main class="main">
    <div class="main2">
        {% block another_content %}
            <h2>Welcome to your Flashcards app!</h2>
        {% endblock another_content %}
    </div>
</main>

<footer class="footer">
    <h3><p>The rules are simple. You need to create questions in your language and answers in another language. If you
        give the correct answers, then the questions move clockwise. If you make a mistake, the question will return to
        the beginning.</p></h3>
</footer>
</body>

</html>