{% load humanize %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<link rel="stylesheet" href='{% static "/first_stile.css" %}'/>
<head>
    <title>Flashcards</title>
</head>

<body>

<header class="header">
    {% if user.pk %}
        <div class="logo">
            <a href="{% url 'profile' user.pk %}" class="logo">Profile</a>
            <img src="https://i.gifer.com/Ddjq.gif" height=13% width=13% alt="#">
        </div>
        <h5>BATS - {{ user }}</h5>
    {% elif not user.pk %}
        <div></div>
    {% endif %}
    <h4>

        {% if user.pk %}
            <a href="{% url 'card list' %}">🗂 All Cards</a>
        {% endif %}
        <div class="div">
        {% for object in boxes_count %}
            <div>
                <a href="{% url 'header boxes' object.number %}" role="button">
                    🗃 {{ object.number | ordinal }} Box
                    <mark>{{ object.card_count }}</mark>
                </a>
            </div>
        {% endfor %}
        </div>
    </h4>

    <nav class="nav">
        {% if not user.pk %}
            <a href="{% url "register" %}">Register</a>
            <a href="{% url "login" %}">Login</a>
            {% elif user.pk %}
                <a href="{% url "logout" user.pk %}">Exit</a>
            {% endif %}
    </nav>

</header>

<main class="main">
    {% if user.pk %}
        <nav class="nav">
            <a href="{% url "card create" %}">Create Card</a>
        </nav>
    {% endif %}
    <div class="main2">
        {% block content %}
            <h2>Welcome to your Flashcards app!</h2>
        {% endblock content %}
    </div>
</main>

<footer class="footer">
    <h4><p>The rules are simple. You need to create questions in your language and answers in another language. If you
        give the correct answers, then the questions move clockwise. If you make a mistake, the question will return to
        the beginning.</p></h4>
</footer>
</body>

</html>