{% extends 'another_base.html' %}
{% block another_content %}
    <div class="profile">
        <ul>
            <h4>Name - {{ user }}</h4>
            <h4>Email - {{ user.email }}</h4>
            <h4>Joined - {{ user.data_joined }}</h4>
            <h4>Edit - {{ user.data_edit }}</h4>
        </ul>
    </div>
    <div class="nav">
        <a href="{% url 'edit profile' object.pk %}" role="button">Edi profile</a>
        <a href="{% url 'delete profile' user.pk %}" role="button">Delete</a>
    </div>

{% endblock %}
